.button {
  cursor: pointer;
  background-color: white;
  border: 1px solid #238e2a;
  border-radius: 14px;
  height: 30px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: normal;
}

.button:hover {
  background-color: #238e2a;
  color: white;
  box-shadow: 0px 1px 1px black;
}

.button:active {
  background-color: white;
  color: #238e2a;
  box-shadow: none;
}


